br
.container.constr
	.constructor-wrap
		#wear-wrap
			.front
				//- .head
				#front
				.legs
			.back
				.head
				#back
				.legs
		#types
			.type-bottom
				p Пола
				ul
					li#type-bottom-1 полукруг
					li#type-bottom-2 прямая
			.type-sleeve
				p Рукав
				ul
					li#type-sleeve-1 прямой
					li#type-sleeve-2 зауженный
					li#type-sleeve-3 3/4
			.type-wear-wrap
				p.poncho Пончо
				p.kardigan.hidden Крадиган
				.type-wear.poncho 3000 грн
				.type-wear.kardigan.hidden 5000 грн

		#options
			#patterns
				.first
				.second
			#colors
				.color.black
				.color.gray-1
				.color.gray-2
				.color.gray-3
				.color.dark-red
				.color.red
				.color.pink-1
				.color.pink-2
				.color.yellow
				.color.light-green
				.color.blue
				.color.dark-green
				.color.green-1
				.color.purple
				.color.green-2
				.color.green-3
				.color.red-1
				.color.orange
				.color.green-4
				.color.light-blue
		button.btn.btn-default#order Сделать заказ
		.result
