/*  ===========
	 Variables
	=========== */
lol1 = url('/i/1.png');
/*! _ style*/
html, body
	height 100%
svg
	overflow visible !important
	*
		cursor pointer
.container
	position relative
	width 1170px
	padding 0 15px
.constructor-wrap
	// display table
	// margin auto
	// box-sizing border-box
	// border 1px solid #999999
#wear-wrap
#types
#options
	display table-cell
	position relative
#wear-wrap
	width 675px
	height 812px
	background #fff
	border-color #999999
	border-style solid
	border-width 1px 0 1px 1px
#options
	width 367px
	padding 0 0 0 30px
.front
.back
	position absolute
	.head
	.legs
		position absolute
		margin 0 auto
	.legs
		bottom 0
.front
	top 114px
	left 52px
	width 356px
	height 800px
	.head
		height 178px
		width 118px
		top -77px
		left 123px
		background url('/i/model-front-head.png')
		z-index: 1
	.legs
		height 303px
		width 111px
		bottom -273px
		left 0
		right 0
		background url('/i/model-front-legs.png')
.back
	top 337px
	left 377px
	width 233px
	height 266px
	.head
		height 58px
		width 69px
		right 0
		left 0
		top -24px
		background url('/i/model-back-head.png')
	.legs
		height 166px
		width 69px
		right 0
		left 0
		bottom -197px
		background url('/i/model-back-legs.png')
#front
#back
	position absolute
	top 0
	left 0
	width 356px
	height 414px
	z-index 1
#back
	width 233px
	height 326px
#halat
	position relative
	background #000
.frontSide
	top 0
	left 0
	right 0
	bottom 0
	margin auto
	width 356px
	height 414px

#types
	background #333333
	padding 0
	border-style solid
	border-color #999
	border-width 1px 1px 1px 0
	width 106px
	vertical-align top
	p
		font-size 14px
		color #fff
		margin 10px 0 17px 0
		text-align center
	ul
		padding 0 15px
		margin-bottom 0
		list-style none
		li
			font-size 12px
			color #fff
			padding 0 0 18px 0
			cursor pointer
			text-align center
			& + li
				border-top 1px dashed #999999
	#type-bottom-1
		background url("/i/type-bottom-1.png") no-repeat center 0
		padding-top 44px
	#type-bottom-2
		background url("/i/type-bottom-2.png") no-repeat center 9px
		padding-top 45px
	#type-sleeve-1
		background url("/i/type-sleeve-1.png") no-repeat center 0
		padding-top 74px
	#type-sleeve-2
		background url("/i/type-sleeve-2.png") no-repeat center 13px
		padding-top 77px
	#type-sleeve-3
		background url("/i/type-sleeve-3.png") no-repeat center 13px
		padding-top 97px
	.type-bottom
	.type-sleeve
		border-bottom 1px solid #fff
	.type-wear-wrap
		margin-top 22px
		.type-wear
			padding 94px 0 0 0
			background url("../i/wear-type-1.png") no-repeat center 0
			font-size 12px
			color #fff
			margin-bottom 30px
			cursor pointer
			text-align center
		.wear-2
			background url("../i/wear-type-2.png") no-repeat center 0
#patterns
	clear both
	overflow auto
	background grey
	div
		float left
		width 30px
		height 30px
		margin 5px
	.first
		background url('/i/2.png')
	.second
		background url('/i/3.png')
#colors
	clear both
	overflow auto
	& > .color
		height 64px
		width 64px
		float left
		border 1px solid #999999
		margin 7px 20px 10px 0
		cursor pointer
	.black
		background #ffffff
	.gray-1
		background #898989
	.gray-2
		background #c5c5c5
	.gray-3
		background #f6f6f6
	.dark-red
		background #6b0000
	.red
		background #bd0303
	.pink-1
		background #ffb0b0
	.pink-2
		background #da6f6f
	.yellow
		background #fffc00
	.light-green
		background #b4d018
	.blue
		background #3873ed
	.dark-green
		background #159e25
	.green-1
		background #2aaba9
	.purple
		background #c53ad5
	.green-2
		background #5ccbc2
	.green-3
		background #92a936
	.red-1
		background #c84343
	.orange
		background #ebab22
	.green-4
		background #09cc97
	.light-blue
		background #3aa1c3
.hovered
	opacity 0.8
.selected
	opacity 0.8

